body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  text-align: center;
}

header {
  background: linear-gradient(135deg, #111, #333);
  color: white;
  padding: 60px 20px;
}

header h1 {
  font-size: 36px;
  margin: 0;
}

header p {
  margin: 15px 0 25px;
  font-size: 18px;
}

.btn {
  background: #25D366;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover {
  background: #1ebe5d;
}

.sobre {
  background: white;
  margin: 20px;
  border-radius: 10px;
}

.projetos {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

.projetos .btn {
  display: inline-block;
  margin: 10px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 25px;
  width: 260px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card a {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  color: #111;
  font-weight: bold;
}

footer {
  margin-top: 40px;
  padding: 20px;
  background: #111;
  color: white;

}

img.perfil {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 20px;
  border: 3px solid white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}